<section class="card">
<div class="card-body">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque ducimus repellendus accusantium, reiciendis deleniti at temporibus fugiat alias et saepe?</p>
</div>
</section>