<div class="jumbotron mt-4">
    <h1 class="display-4">CRUD Users - NodeJs </h1>
    <p class="lead">Aplicación de altas, bajas, cambios y consultas de usuarios desarrollada usando una combinación de tecnologías, como por ejemplo: NodeJs, MongoDB, Mongoose, MongoDB Atlas, y un servicio de Azure para desplegar la aplicación.</p>
    <hr class="my-4">
    <p>Para el desarrollo de esta aplicación, se tomaron como material de apoyo y consulta los siguientes artículos y sitios web</p>
    <a href="https://azure.microsoft.com/es-mx/" class="btn btn-primary">Microsoft Azure</a>
</div>