<div class="jumbotron m-0 p-4">
    <h1 class="display-4">CRUD - NodeJs </h1>
    <p class="lead">Aplicación de altas, bajas, cambios y consulta dos tipos de entidades ( Autos y Películas )
        desarrollada usando una combinación de tecnologías, como: NodeJs, Mongoose, MongoDB Atlas, Git y un servicio de
        Heroku
        para el despliegue de la aplicación.</p>
    <hr class="my-4">
    <p>Para el desarrollo de esta aplicación, se tomaron como material de apoyo y consulta las siguientes tecnologías,
        artículos y sitios web.</p>
    <a href="https://nodejs.org/es/" class="btn btn-primary my-2" target="_blank">NodeJs</a>
    <a href="https://code.visualstudio.com/" class="btn btn-primary my-2" target="_blank">Visual Studio Code</a>
    <a href="https://www.mongodb.com/cloud/atlas" class="btn btn-primary my-2" target="_blank">MongoDB Atlas</a>
    <a href="https://www.heroku.com/" class="btn btn-primary my-2" target="_blank">Heroku</a>
    <a href="https://git-scm.com/" class="btn btn-primary my-2" target="_blank">Git</a>
    <p>Tutoriales de apoyo</p>
    <a href="https://zellwk.com/blog/crud-express-mongodb/" class="btn btn-primary my-2" target="_blank">Tutorial Crud /
        Atlas</a>
    <a href="https://www.youtube.com/playlist?list=PLo5lAe9kQrwqUEXK7oQbzv63KsdODzuAy" class="btn btn-primary my-2"
        target="_blank">Curso NodeJs y MongoDB</a>
    <a href="https://www.youtube.com/watch?v=bK3AJfs7qNY&t=912s&ab_channel=FaztCode" class="btn btn-primary my-2"
        target="_blank">Api Rest</a>
    <a href="https://www.youtube.com/watch?v=qckBlIfOnlA&t=1912s&ab_channel=FaztCode" class="btn btn-primary my-2"
        target="_blank">Json WebTokens</a>
    <a href="https://www.youtube.com/watch?v=EcCIlxfxc4g&t=430s&ab_channel=PractiDev" class="btn btn-primary my-2"
        target="_blank">Jwt y Passport</a>
    <a href="https://www.youtube.com/watch?v=w8It1NHeGps&ab_channel=CarlosAzaustre" class="btn btn-primary my-2"
        target="_blank">Rutas Api Rest</a>
    <a href="https://leonvalen.wordpress.com/2020/02/12/autenticacion-y-autorizacion-de-json-web-token-en-nodejs-express-y-mongodb-rest-api/"
        class="btn btn-primary my-2" target="_blank">Autenticación Token</a>
    <hr class="my-4">
    <p>Desarrollador: Mario A. Cortés</p>
    <a href="/documents/Manual_de_usuario_Softlutions_v2.pdf" class="btn btn-primary btn-sm" target="_blank">Manual de usuario</a> |
    <a href="/documents/Manual_técnico_Softlutions_v2.pdf" class="btn btn-primary btn-sm" target="_blank">Manual técnico</a> <br>
    <div class="postman-run-button mt-2" data-postman-action="collection/import" data-postman-var-1="848ca2d625414c4ddf47">
    </div>
    <script type="text/javascript">
        (function (p, o, s, t, m, a, n) {
            !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
            !o.getElementById(s + t) && o.getElementsByTagName("head")[0].appendChild((
                (n = o.createElement("script")),
                (n.id = s + t), (n.async = 1), (n.src = m), n
            ));
        }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
    </script>
</div>