<div class="jumbotron mt-1">
    <h1 class="display-4">CRUD Users - NodeJs </h1>
    <p class="lead">Aplicación de altas, bajas, cambios y consulta de usuarios desarrollada usando una combinación de tecnologías, como: NodeJs, MongoDB, Mongoose, MongoDB Atlas, y un servicio de Azure para el despliegue de la aplicación.</p>
    <hr class="my-4">
    <p>Para el desarrollo de esta aplicación, se tomaron como material de apoyo y consulta las siguientes tecnologías, artículos y sitios web.</p>
    <a href="https://www.youtube.com/playlist?list=PLo5lAe9kQrwqUEXK7oQbzv63KsdODzuAy" class="btn btn-primary" target="_blank">Curso NodeJs y MongoDB</a>
    <a href="https://www.mongodb.com/cloud/atlas" class="btn btn-primary" target="_blank">MongoDB Atlas</a>
    <a href="https://github.com/" class="btn btn-primary" target="_blank">Github</a>
    <a href="https://azure.microsoft.com/es-mx/" class="btn btn-primary" target="_blank">Microsoft Azure</a>
    <a href="https://zellwk.com/blog/crud-express-mongodb/" class="btn btn-primary" target="_blank">Tutorial Crud</a>
    <a href="https://www.youtube.com/watch?v=8vPi6AeCLKQ&t=660s&ab_channel=FaztCode" class="btn btn-primary" target="_blank">Tutorial Azure</a>
    <a href="https://www.mongodb.com/cloud/atlas" class="btn btn-primary" target="_blank">MongoDB Atlas</a>
    <hr class="my-4">
    <p>Desarrollador: Mario A. Cortés</p>
</div>