<div class="jumbotron mt-4">
    <h1 class="display-4">NodeJs Users App Mario</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci temporibus est assumenda similique, illo eveniet quibusdam, architecto aut nihil accusamus corrupti quidem consequuntur blanditiis error veniam placeat totam? Aspernatur?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus modi rerum similique accusantium ut ea laboriosam qui blanditiis, est explicabo deserunt consectetur obcaecati. Iure earum, temporibus voluptas obcaecati vitae laudantium.</p>
    <a href="http://www.google.com" class="btn btn-primary">Google</a>
</div>