/* 
    Created on : 5 dec 2020
    Author     : Mario Cortés
    Master     : Dirección y Gestión de Proyectos Web
    Asignatura : Ingeniería y Desarrollo en la Web
*/

body{
    background-color: #1488CC;
}

.section-title{
    color: white;
}

.logo{
    width: 40%;
}

.text-login{
    text-align: center;
}