<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Crud app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Usuarios
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/users">Todos los usuarios</a>
            <a class="dropdown-item" href="/users/add">Nuevo usuario</a>
          </div>          
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Autos
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/cars">Todos los autos</a>
            <a class="dropdown-item" href="/cars/add">Nuevo auto</a>
          </div>          
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Películas
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/movies">Todos las películas</a>
            <a class="dropdown-item" href="/movies/add">Nueva película</a>
          </div>          
        </li>
      </ul>
    </div>
  </div>
</nav>